<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

          http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.akash.spring.crm.webservices"/>
    <sws:annotation-driven/>

	<!-- 
    <import resource="datasource-config.xml"/>
     
    <sws:dynamic-wsdl id="customers" portTypeName="CustomerService" locationUri="/CustomerService"
                      targetNamespace="http://www.akash.com/crm/customers" 
                      >
                      <sws:xsd location="/WEB-INF/ActionSchema.xsd"/>
                      <sws:xsd location="/WEB-INF/CallSchema.xsd"/>
        			  <sws:xsd location="/WEB-INF/CustomerSchema.xsd"/>
    </sws:dynamic-wsdl>
   
     <sws:dynamic-wsdl id="calls" portTypeName="CallService" locationUri="/CallService"
     				   targetNamespace="http://www.akash.com/crm/calls">
     	<sws:xsd location="/WEB-INF/CallSchema.xsd"/>
     </sws:dynamic-wsdl>
     
     <sws:dynamic-wsdl id="actions" portTypeName="ActionService" locationUri="/ActionService"
     				   targetNamespace="http://www.akash.com/crm/actions">
     	<sws:xsd location="/WEB-INF/ActionSchema.xsd"/>
     </sws:dynamic-wsdl>
      -->
    <!--      --> 
    <sws:static-wsdl location="/WEB-INF/crm.wsdl" id="crm"/>

</beans>